<div class="container" *ngIf="isOpen">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-invoice-header">
          <h4 class="modal-title">Add invoice</h4>
          <button (click)="todoService.toggleAddModal()" type="button" class="btn modal-buttons">
            <span class="glyphicon glyphicon-remove"></span> Close
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="invoice-name">Name:</label>
            <input [(ngModel)]="name" type="text" class="form-control" id="invoice-name">
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="addInvoice()" type="button" class="btn modal-buttons">
            <span class="glyphicon glyphicon-plus"></span> Add
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop"></div>
</div>
