<div class="invoice-page">
  <h1>Invoice List</h1>

  <input
    [formControl]="searchStringControl"
    type="text"
    class="form-control invoice-search"
    placeholder="Search">

  <app-invoice-table
    [invoiceList]="invoiceList"
    (onDelete)="addOrRemoveHeandler.apply(this, $event)"
    (onDuplicate)="addOrRemoveHeandler.apply(this, $event)"
    class="invoice-table-list">
  </app-invoice-table>

  <button (click)="modalChangeHeandler()" type="button" class="btn">
    <span class="glyphicon glyphicon-plus"></span> Add invoce
  </button>

  <app-invoice-modal
    (onCloseEvent)="modalChangeHeandler()"
    (onAdd)="addOrRemoveHeandler.apply(this, $event)"
    [isOpen]="isModalInvoiceOpen">
  </app-invoice-modal>

</div>
