<div class="invoice-page">
  <h1>Invoice List</h1>

  <input
    [formControl]="searchStringControl"
    type="text"
    class="form-control invoice-search"
    placeholder="Search">

  <app-invoice-table
    [searchString]="searchString"
    class="invoice-table-list">
  </app-invoice-table>

  <button (click)="invoiceService.toggleAddModal()" type="button" class="btn">
    <span class="glyphicon glyphicon-plus"></span> Add invoce
  </button>

  <app-invoice-modal
    [isOpen]="invoiceService.isAddModalOpen"
    (onCloseEvent)="modalChangeHeandler()"
    (onAdd)="addOrRemoveHeandler.apply(this, $event)">
  </app-invoice-modal>

</div>
