<table class="table invoice-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of invoiceList;let i = index">
      <td>{{item}}</td>
      <td>
        <button
          (click)="onDelete.emit(['remove', i])"
          type="button"
          class="btn">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
        <button
          (click)="onDuplicate.emit(['add', i, item])"
          type="button"
          class="btn">
          <span class="glyphicon glyphicon-duplicate"></span> Dupliate
        </button>
      </td>
    </tr>
  </tbody>
</table>
